@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<p class="fs-5">You may now login with your username and password: <a asp-page="/Account/Login" asp-area="Identity">here</a></p>
