@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<partial name="_AccountPartial" />

<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row px-4 py-4">
            <div class="col-md-4">
                <h2 class="fs-3">@ViewData["Title"]</h2>
                
                <hr class="mb-3 pb-2" />
                
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><label class="sr-only" asp-for="Input.Email"><i class="bi bi-envelope text-muted mt-n1 me-2"></i></label></div>
                        </div>
                        <input type="text" class="form-control" asp-for="Input.Email" placeholder="Email" autocomplete="username" aria-required="true">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </form>
                
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
