@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<partial name="_AccountPartial" />


<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row px-4 py-4">
            <div class="col-md-12">
                <h2 class="display-3">@ViewData["Title"]</h2>
                <hr class="mb-3 pb-2" />
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <p>
                            Thank you for signing up: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                        </p>
                    }
                    else
                    {
                        <p>
                            Please check your email to confirm your account.
                        </p>
                    }
                }
            </div>

        </div>
    </div>

</div>