@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data" class="p-2">
    <div class="row">
        <div class="col-md-6">

          @*  <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-floating mb-3 pb-2">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
                <input type="hidden" asp-for="Input.Email"/>
            </div>
            <div class="form-floating mb-3 pb-2">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
              @*  <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>*@
            </div>
            <div class="form-floating mb-3 pb-2">
                <div class="file-drop-area">
                    <div class="file-drop-icon bi bi-cloud-arrow-up"></div><span class="file-drop-message">
                        Drag and drop here to upload a profile photo
                    </span>
                    <input class="file-drop-input" type="file" asp-for="Input.ProfileImage" accept="image/png, image/jpeg, image/jpg, image/*">
                    <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">Or select file</button>
                    <div class="form-text">1000 x 800px ideal size for hi-res displays</div>
                </div>
               <span asp-validation-for="Input.ProfileImage" class="text-danger"></span>
            </div>
        </div>
    </div>

    <partial name="_AddressPagePartial" for="Input" />

    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            // check if checkbox is checked
            if ($('#checkBilling').is(':checked')) {
                // if checked, hide the address fields
                $('#billing').hide();
            }

            $("#checkBilling").change(function () {
                debugger;
                if (this.checked) {
                    $("#billing").hide();
                } else {
                    $("#billing").show();
                }
            });


            var priceUrl = '@Url.Page("Cart", "TotalCartPrice")';
            var cartUrl = '@Url.Page("Cart", "TotalCartCount")';

            GetTotalCartPrice(priceUrl);
            GetTotalCartItem(cartUrl);
        });
    </script>

}

