<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Slim.Pages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Slim.Pages.styles.css" asp-append-version="true" />
    <link rel="stylesheet" media="screen" href="~/css/simplebar.min.css" asp-append-version="true" />
    <link rel="stylesheet" media="screen" href="~/css/tiny-slider.css" asp-append-version="true" />
    <link rel="stylesheet" media="screen" href="~/css/drift-basic.min.css" asp-append-version="true" />
    <link rel="stylesheet" media="screen" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" media="screen" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body class="handheld-toolbar-enabled" id="entire">
    <header class="shadow-sm">
        <!-- Top bar -->
        <div class="topbar topbar-dark bg-dark">
            <div class="container">
                <div class="topbar-text dropdown d-md-none">
                    <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Useful links</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="tel:5163447233"><i class="bi bi-headset text-muted me-2"></i>(516) 334-7233</a></li>
                        <li><a class="dropdown-item" href="order-tracking.html"><i class="bi bi-geo-alt text-muted me-2"></i>Order tracking</a></li>
                    </ul>
                </div>
                <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="bi bi-headset"></i><span class="text-muted me-1">Support</span><a class="topbar-link" href="tel:5163347233">(516) 334-7233</a></div>
                <div class="tns-carousel tns-controls-static d-none d-md-block">
                    <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
                        <div class="topbar-text">Free shipping for order over $200</div>
                        <div class="topbar-text">We return money within 30 days</div>
                        <div class="topbar-text">Friendly 24/7 customer support</div>
                    </div>
                </div>
                <div class="ms-3 text-nowrap">
                    <a class="topbar-link me-4 d-none d-md-inline-block" href="order-tracking.html"><i class="bi bi-geo-alt"></i>Order tracking</a>
                    @*<div class="topbar-text dropdown disable-autohide">
                    <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img class="me-2" src="img/flags/en.png" width="20" alt="English">Eng / $</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                    <li class="dropdown-item">
                    <select class="form-select form-select-sm">
                    <option value="usd">$ USD</option>
                    <option value="eur">€ EUR</option>
                    <option value="ukp">£ UKP</option>
                    <option value="jpy">¥ JPY</option>
                    </select>
                    </li>
                    <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="img/flags/fr.png" width="20" alt="Français">Français</a></li>
                    <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="img/flags/de.png" width="20" alt="Deutsch">Deutsch</a></li>
                    <li><a class="dropdown-item" href="#"><img class="me-2" src="img/flags/it.png" width="20" alt="Italiano">Italiano</a></li>
                    </ul>
                    </div>*@
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container">
                <a class="navbar-brand order-0" asp-area="" asp-page="/Index">Slim</a>
                <button class="navbar-toggler order-md-2 order-2" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between order-2">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Hair">Hair</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Lashes">Lashes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Lip">Lip Gloss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Appointment">Appointments</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                
                <partial name="_Cart" />
            </div>
        </nav>
        
    </header>
    <main role="main" class="pb-3 page-wrapper">
        @RenderBody()
    </main>
    <footer class="border-top footer bg-dark text-muted">
        <div class="container">
            <div class="row pb-2">
                <div class="col-md-6 text-center text-md-start mb-4">
                    <div class="text-nowrap">
                        <a class="d-inline-block align-middle mt-n1 me-3" asp-page="/Index">Slim</a>
                    </div>
                    <div class="widget widget-links widget-light">
                        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                            <li class="widget-list-item me-4"><a class="widget-list-link" asp-page="/Index">Home</a></li>
                            <li class="widget-list-item me-4"><a class="widget-list-link" asp-page="/Hair">Hair</a></li>
                            <li class="widget-list-item me-4"><a class="widget-list-link" asp-page="/Lashes">Lashes</a></li>
                            <li class="widget-list-item me-4"><a class="widget-list-link" asp-page="/Lip">Lip Gloss</a></li>
                            <li class="widget-list-item me-4"><a class="widget-list-link" asp-page="/Appointment"> Appointment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-end mb-4">
                    <div class="mb-3 d-flex flex-wrap justify-content-center">
                        <a class="btn-social bs-light bs-twitter ms-2 mb-2 d-flex justify-content-center" href="#"><i class="bi bi-twitter"></i></a>
                        <a class="btn-social bs-light bs-facebook ms-2 mb-2 d-flex justify-content-center" href="#"><i class="bi bi-facebook"></i></a>
                        <a class="btn-social bs-light bs-instagram ms-2 mb-2 d-flex justify-content-center" href="#"><i class="bi bi-instagram"></i></a>
                        <a class="btn-social bs-light bs-pinterest ms-2 mb-2 d-flex justify-content-center" href="#"><i class="bi bi-pinterest"></i></a>
                        <a class="btn-social bs-light bs-youtube ms-2 mb-2 d-flex justify-content-center" href="#"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="pb-4 fs-sm text-light opacity-50 text-center text-md-start">© 2022 -  All rights reserved. Created by <a class="text-light" href="https://www.tobikareem.com/" target="_blank" rel="noopener">Tobi Kareem</a></div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="~/vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="~/js/theme.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>