@page
@model Slim.Pages.Pages.CartSuccessModalModel
@{
}


<div id="CartSuccessModal">
    <div class="modal fade" tabindex="-1" role="dialog" id="details-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p>Item added to cart</p>

                    <div class="row">
                        <div class="col-6">
                            <a asp-page="/Cart" class="btn btn-primary btn-block">View Cart</a>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Continue
                                Shopping</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts {
<script>

    // display this page as a modal Pages
    $(document).ready(function ()
    {
        $('#CartSuccessModal').modal('show');
    });

</script>
}