@page
@model Slim.Pages.Pages.CheckoutModel
@{
}


<h2>Checkout</h2>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var priceUrl = '@Url.Page("Cart", "TotalCartPrice")';
            var cartUrl = '@Url.Page("Cart", "TotalCartCount")';

            GetTotalCartPrice(priceUrl);
            GetTotalCartItem(cartUrl);
        });
    </script>
}